<!-- Title -->
<h1>Synchroniser les bases de données :</h1>

<!-- Description of the page -->
<p class="lead">Le bouton ci-dessous permet de synchroniser les bases de données afin de mettre à jour la liste des arbres.</p>

<!-- Sync button -->
<button class="btn btn-default" ng-click="sync()" tooltip="Lancer la synchronisation">
    <i ng-class="{'glyphicon glyphicon-refresh':!spinSync,'fa fa-spinner fa-spin': spinSync}"></i>
</button>

<!-- Success message -->
<p ng-show="success">La synchronisation est en cours</p>
