.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}
a {
    outline: 0;
}
.clickable {
    cursor: pointer;
}
/* Sticky footer styles*/

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
}
/* Custom page CSS*/
/* Not required for template or sticky footer method. */

.container {
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
/* Map */

.angular-google-map-container {
    height: 400px;
}
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
/* Max height of picture in the gallery */

.modal-dialog, .modal-content {
    max-height: 620px;
}
.modal-body {
    max-height: 500px;
    overflow-y: scroll;
}
.carousel {
    max-height: 500px;
}
.carousel-inner {
    width: auto;
    max-height: 500px;
}
.carousel-inner > .item > img {
    width: auto;
    max-height: 500px;
}
.masonry-brick-not-visible > img, .picture-not-visible {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
body {
    padding-top: 70px;
}
