<!-- The date -->
<td ng-class="{'danger':!isVisible()}">{{ comment.dateDisplayable | date:"d MMM yyyy 'à' H'h'mm" }}</td>
<!-- The pseudo -->
<td ng-class="{'danger':!isVisible()}">{{ comment.pseudo }}</td>
<!-- The message or the editor -->
<td ng-hide="editionMode" ng-class="{'danger':!isVisible()}" ng-class="{'danger':!isVisible()}">{{ comment.message }}</td>
<td ng-show="editionMode" ng-class="{'danger':!isVisible()}">
    <textarea class="form-control" rows="3" ng-model="newMessage" focus-on="{{comment.id}}"></textarea>
</td>

<!-- The buttons -->
<td class="text-right" ng-class="{'danger':!isVisible()}">
    <!-- Show button -->
    <button class="btn btn-info" ng-click="show()" ng-hide="editionMode || isVisible()" tooltip="Rendre visible">
        <i ng-class="{'fa fa-square-o':!spinShow,'fa fa-spinner fa-spin': spinShow}"></i>
    </button>
    <!-- Hide button -->
    <button class="btn btn-warning" ng-click="hide()" ng-show="!editionMode && isVisible()" tooltip="Rendre non visible">
        <i ng-class="{'fa fa-check-square-o':!spinHide,'fa fa-spinner fa-spin': spinHide}"></i>
    </button>
    <!-- Edit button -->
    <button class="btn btn-primary" ng-click="edit()" ng-hide="editionMode" tooltip="Editer">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <!-- Cancel button -->
    <button class="btn btn-warning" ng-click="cancel()" ng-show="editionMode" tooltip="Annuler">
        <i class="glyphicon glyphicon-arrow-left"></i>
    </button>
    <!-- Save button -->
    <button class="btn btn-success" ng-click="save()" ng-show="editionMode" tooltip="Sauvegarder">
        <i ng-class="{'glyphicon glyphicon-save':!spinSave,'fa fa-spinner fa-spin': spinSave}"></i>
    </button>
    <!-- Remove button -->
    <button class="btn btn-danger" ng-click="removeComment()" tooltip="Supprimer">
        <i ng-class="{'glyphicon glyphicon-trash':!spinRemove,'fa fa-spinner fa-spin': spinRemove}"></i>
    </button>
</td>
