<h3>Bienvenue sur TreeBook ! </h3>

<!-- Search field -->
<div class="well-sm">
    <form ng-submit="search()" class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="query" name="query" placeholder="Etiquette de l'arbre" ng-model="query" />
            <div class="input-group-addon btn btn-success" ng-click="search()" tooltip="Rechercher">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <div class="input-group-addon btn btn-warning" ng-click="reset()" tooltip="Réinitialiser">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </form>
</div>

<!-- Result list -->
<div ng-if="results">

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2" ng-click="orderBy('centralized_id',!reverse)" ng-style="{'cursor':'pointer'}">
                    Id
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('centralized_id')}"></small>
                </th>
                <th class="col-md-4" ng-click="orderBy('name',!reverse)" ng-style="{'cursor':'pointer'}">
                    Nom
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('name')}"></small>
                </th>
                <th class="col-md-4" ng-click="orderBy('genre_id',!reverse)" ng-style="{'cursor':'pointer'}">
                    Genre
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('genre_id')}"></small>
                </th>
                <th class="col-md-2" ng-click="orderBy('trunk_diameter',!reverse)" ng-style="{'cursor':'pointer'}">
                    Diametre du tronc
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('trunk_diameter')}"></small>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr ng-click="goTo(tree.id)" dir-paginate="tree in results | orderBy:orderProp:reverse | itemsPerPage: pageSize" current-page="pagination.current" class="clickable">
                <td>{{tree.centralized_id}}</td>
                <td>{{tree.name}}</td>
                <td>{{tree.genre_name}}</td>
                <td>{{tree.trunk_diameter}} cm </td>
            </tr>
        </tbody>
    </table>

    <dir-pagination-controls template-url="templates/pagination/pagination.tpl.html"></dir-pagination-controls>

</div>
