<!-- Messages Title with the number of unread messages -->
<h1>Messages <small> - {{ nb.unread }} non lus</small></h1>
<div class="panel panel-default">
    <div class="panel-body">
        <!-- Switch to show all messages or only unread -->
        <div class="form-group">
            <label for="status">Afficher uniquement les messages non lus</label>
            <input bs-switch ng-model="onlyUnread" type="checkbox" name="status" data-on-color="success" data-on-text="I" data-off-text="O" />
        </div>
    </div>
</div>

<!-- All messages -->
<accordion close-others="false">
    <accordion-group ng-class="{ 'panel-info':isRead(contact), 'panel-primary':!isRead(contact) }" dir-paginate="contact in contacts | filter:filter | orderBy:'dateDisplayable':true | itemsPerPage: pageSize" current-page="pagination.current" is-open="contact.open">

        <!-- Messages header -->
        <!-- Template : "Subject - Date" -->
        <accordion-heading>
            {{ contact.subject }}<span class="panel-title-small"> - {{ contact.dateDisplayable | date:"d MMM yyyy 'à' H'h'mm"}}<span ng-hide="isRead(contact)"> - Non lu</span></span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': contact.open, 'glyphicon-chevron-right': !contact.open}"></i>
        </accordion-heading>

        <!-- Message body -->
        <strong>Adresse email :</strong>
        <p>{{contact.email}}</p>
        <strong>Message :</strong>
        <p>{{ contact.message }}</p>

        <!-- Control buttons -->
        <p>
            <!-- Put unread -->
            <a class="btn btn-primary" ng-show="isRead(contact)" ng-click="unreadContact(contact)" tooltip="Marquer le message comme non lu"><i ng-class="{'glyphicon glyphicon-eye-close':!unreadSpin,'fa fa-spinner fa-spin': unreadSpin}"></i></a>

            <!-- Put Read -->
            <a class="btn btn-info" ng-hide="isRead(contact)" ng-click="readContact(contact)" tooltip="Marquer le message comme lu"><i ng-class="{'glyphicon glyphicon-eye-open':!readSpin,'fa fa-spinner fa-spin': readSpin}"></i></a>

            <!-- Answer -->
            <a class="btn btn-success" ng-href="{{mailto(contact)}}" tooltip="Répondre"><i class="glyphicon glyphicon-edit"></i></a>

            <!-- Remove -->
            <a class="btn btn-danger" ng-click="removeContact(contact)" tooltip="Supprimer"><i ng-class="{'glyphicon glyphicon-trash':!removeSpin,'fa fa-spinner fa-spin': removeSpin}"></i></a>
        </p>
    </accordion-group>
</accordion>

<!-- Pagination Control -->
<dir-pagination-controls template-url="templates/pagination/pagination.tpl.html" ng-show="contacts && contacts.length"></dir-pagination-controls>

<!-- Default message if there is no messages -->
<div ng-hide="contacts && contacts.length">
    <p>Vous n'avez reçu aucun message</p>
</div>
