<!-- The pagination template -->
<div class="text-center">
    <ul class="pagination" ng-if="1 < pages.length">
        <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" ng-click="setCurrent(1)" tooltip="Première page"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </li>
        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" ng-click="setCurrent(pagination.current - 1)" tooltip="Page précdente"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </li>
        <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
            <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
        </li>

        <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.current + 1)" tooltip="Page suivante"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
        <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.last)" tooltip="Dernière page"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
    </ul>
</div>
