<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Plan du parc</h3>
    </div>
    <div class="panel-body">

        <!-- Switch to show all trees or only remarkable -->
        <div class="form-group">
            <label for="status">Afficher uniquement les arbres remarquables</label>
            <input bs-switch ng-model="onlyRemarkable" type="checkbox" name="status" data-on-color="success" data-on-text="I" data-off-text="O" />
        </div>

        <!-- genre name selector -->
        <div class="form-group">
            <ui-select ng-model="selection.selected" style="width: 300px;" on-select="onSelect($item)">
                <ui-select-match placeholder="Entrez une espèce d'arbre à afficher">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="genre in genres | filter: {name: $select.search}">
                    <div ng-bind-html="genre.name | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>

        <!-- Maps -->
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" ng-if="map && trees">
            <ui-gmap-markers idKey="'id'" models="trees" coords="'self'" options="'options'" click="'onClicked'">
                <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'">
                    <div class="text-center">
                        <p ng-non-bindable>{{name}}</p>
                        <p ng-non-bindable>
                            <a href="/trees/{{id}}">Voir la Fiche</a>
                        </p>
                    </div>
                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>

    </div>
</div>
