<carousel interval="0">
    <slide ng-repeat="image in tree.galleries" active="image.active">
        <img ng-src="{{image.picture}}" style="margin:auto;" ng-class="{'picture-not-visible':image.notVisible}">
    </slide>
</carousel>
