<h1>Contact :</h1>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<form novalidate name="contactForm" ng-submit="send(contactForm.$valid && contact.recaptcha)">

    <div class="form-group" ng-class="{'has-error':contactForm.email.$invalid && contactForm.email.$dirty,'has-success':contactForm.email.$valid}">
        <label for="email">Adresse email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Adresse email" ng-model="contact.email" required />
    </div>

    <div class="form-group" ng-class="{'has-error':contactForm.subject.$invalid && contactForm.subject.$dirty,'has-success':contactForm.subject.$valid}">
        <label for="subject">Sujet</label>
        <input type="text" class="form-control" id="subject" name="subject" ng-model="contact.subject" placeholder="Sujet du message" required />
    </div>

    <div class="form-group" ng-class="{'has-error':contactForm.message.$invalid && contactForm.message.$dirty,'has-success':contactForm.message.$valid}">
        <label for="message">Message</label>
        <textarea msd-elastic ng-model="contact.message" class="form-control" rows="3" id="message" name="message" placeholder="Votre message" required>
        </textarea>
    </div>

    <div class="form-group">
        <div vc-recaptcha key="'6Lca0gATAAAAAHjaeKIg0L70rLtLLcNjpEuBkOyR'" on-success="onRecaptchaSuccess(response)"></div>
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="contactForm.$invalid || !contact.recaptcha" tooltip="Envoyer"><i class="glyphicon glyphicon-send"></i>
    </button>
</form>

<script src="https://www.google.com/recaptcha/api.js?onload=vcRecapthaApiLoaded&render=explicit" async defer></script>
