<!-- The Main title -->
<h1>Arbres :</h1>

<div class="well-sm">
    <!-- Search Field -->
    <form ng-submit="search()" class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" id="query" name="query" placeholder="Rechercher" ng-model="query" />
            <!-- Search button -->
            <div class="input-group-addon btn btn-success" ng-click="search()" tooltip="Rechercher">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <!-- Reset button -->
            <div class="input-group-addon btn btn-warning" ng-click="reset()" tooltip="Réinitialiser">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
        </div>
    </form>
</div>

<!-- The table to display all trees -->
<table class="table table-hover">
    <thead>
        <th class="col-sm-2" ng-click="orderBy('centralized_id',!reverse)" ng-style="{'cursor':'pointer'}">
            Id
            <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('centralized_id')}"></small>
        </th>
        <th class="col-sm-5 col-xs-10" ng-click="orderBy('name',!reverse)" ng-style="{'cursor':'pointer'}">
            Nom
            <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('name')}"></small>
        </th>
        <th class="col-sm-2 hidden-xs" ng-click="orderBy('genre',!reverse)" ng-style="{'cursor':'pointer'}">
            Espèce
            <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('genre')}"></small>
        </th>
        <th class="col-sm-2 hidden-xs" ng-click="orderBy('type',!reverse)" ng-style="{'cursor':'pointer'}">
            Type
            <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('type')}"></small>
        </th>
        <th class="col-sm-1 col-xs-2"></th>
    </thead>
    <tbody>
        <tr dir-paginate="tree in trees | orderBy:orderProp:reverse | itemsPerPage: pageSize" current-page="pagination.current">
            <!-- Display a tree -->
            <td>{{tree.centralized_id}}</td>
            <td>{{ tree.name }}</td>
            <td>{{ tree.genre_species }}</td>
            <td>{{ tree.genre_type }}</td>
            <td class="text-right">
                <a class="btn btn-primary" ng-href="/trees/{{tree.id}}" tooltip="Editer"><i class="glyphicon glyphicon-edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>

<!-- Pagination Controls -->
<dir-pagination-controls template-url="templates/pagination/pagination.tpl.html" ng-show="trees"></dir-pagination-controls>
