<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TreeBook</a>
        </div>

        <div class="collapse navbar-collapse" collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
                <li data-match-route="/$">
                    <a ng-href="/" ng-click="navbarCollapsed = true">
                        <i class="fa fa-home fa-lg"></i> Accueil
                    </a>
                </li>
                <li data-match-route="/today">
                    <a ng-href="/today" ng-click="navbarCollapsed = true">
                        <i class="fa fa-tree fa-lg"></i> Arbre du moment
                    </a>
                </li>
                <li data-match-route="/trees">
                    <a ng-href="/trees" ng-click="navbarCollapsed = true">
                        <i class="fa fa-search fa-lg"></i> Exploration
                    </a>
                </li>
                <li data-match-route="/map">
                    <a ng-href="/map" ng-click="navbarCollapsed = true">
                        <i class="fa fa-map-marker fa-lg"></i> Carte
                    </a>
                </li>
                <li data-match-route="/contact">
                    <a ng-href="/contact" ng-click="navbarCollapsed = true">
                        <i class="fa fa-envelope-o fa-lg"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
