<!-- Caracteristics part-->
<h1>Caractéristiques de l'arbre :</h1>
<div class="row well well-sm">
    <div class="row" ng-include="'templates/trees/tree.informations.tpl.html'"></div>
    <!-- Include the caracteristic template -->
    <div class="row well-lg">
        <a ng-href="{{ url }}" class="btn btn-info" tooltip="Afficher la page publique"><i class="fa fa-tree"></i></a>
        <!-- Show button -->
        <button class="btn btn-warning" ng-click="show()" ng-hide="isVisible()" ng-if="tree" tooltip="Rendre visible">
            <i ng-class="{'fa fa-square-o':!spinShow,'fa fa-spinner fa-spin': spinShow}"></i> Visible
        </button>
        <!-- Hide button -->
        <button class="btn btn-success" ng-click="hide()" ng-show="isVisible()" ng-if="tree" tooltip="Rendre non visible">
            <i ng-class="{'fa fa-check-square-o':!spinHide,'fa fa-spinner fa-spin': spinHide}"></i> Visible
        </button>
        <!-- remarkable button -->
        <button class="btn btn-warning" ng-click="makeRemarkable()" ng-hide="isRemarkable()" ng-if="tree" tooltip="Rendre remarquable">
            <i ng-class="{'fa fa-square-o':!spinRemarkable,'fa fa-spinner fa-spin': spinRemarkable}"></i> Remarquable
        </button>
        <!-- not remarkable button -->
        <button class="btn btn-success" ng-click="makeNotRemarkable()" ng-show="isRemarkable()" ng-if="tree" tooltip="Rendre non remarquable">
            <i ng-class="{'fa fa-check-square-o':!spinNotRemarkable,'fa fa-spinner fa-spin': spinNotRemarkable}"></i> Remarquable
        </button>
    </div>
</div>


<!-- Description part -->
<h1>Description :</h1>
<div class="row well well-sm">
    <!-- The decription editor -->
    <text-angular ng-model="newDescription" ng-show="editionMode"></text-angular>

    <!-- Display the description -->
    <div ng-hide="editionMode">
        <div ng-include="'templates/trees/tree.description.tpl.html'"></div>
    </div>

    <!-- Control buttons -->
    <div>
        <!-- Edit button -->
        <button class="btn btn-primary" ng-click="edit()" ng-hide="editionMode" tooltip="Editer">
            <i class="glyphicon glyphicon-edit"></i>
        </button>

        <!-- Cancel button -->
        <button class="btn btn-warning" ng-click="cancel()" ng-show="editionMode" tooltip="Annuler">
            <i class="glyphicon glyphicon-arrow-left"></i>
        </button>

        <!-- Save button -->
        <button class="btn btn-success" ng-click="save()" ng-show="editionMode" tooltip="Sauvegarder">
            <i ng-class="{'glyphicon glyphicon-save':!spinSave,'fa fa-spinner fa-spin': spinSave}"></i>
        </button>
    </div>
</div>


<!-- Map part -->
<h1>Carte :</h1>
<div ng-include="'templates/trees/tree.map.tpl.html'"></div>



<!-- Gallery part -->
<h1>Gallerie :</h1>
<div class="row well well-sm">
    <div class="well-sm">
        <!-- Search Field -->
        <form class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="queryPicture" name="queryPicture" placeholder="Rechercher par id" ng-model="queryPicture.id" />
                <!-- Reset button -->
                <div class="input-group-addon btn btn-warning" ng-click="queryPicture = ''" tooltip="Réinitialiser">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </form>
    </div>
    <!-- Include the gallery template -->
    <div ng-include="'templates/trees/tree.gallery.tpl.html'"></div>

    <!-- File uploader -->
    <div>
        <input type="file" nv-file-select uploader="uploader" class="filestyle" input="false" button-text=" Sélectionner une image" badge="false" icon-name="glyphicon glyphicon-upload" /> <i ng-class="{'fa fa-spinner fa-spin':uploadSpin}"></i>
    </div>
</div>


<!-- Comments part -->
<h1>Commentaires :</h1>
<div class="row well well-sm">
    <div class="well-sm">
        <!-- Search Field -->
        <form ng-submit="search()" class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="query" name="query" placeholder="Rechercher" ng-model="query" />
                <!-- Search button -->
                <div class="input-group-addon btn btn-success" ng-click="search()" tooltip="Rechercher">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <!-- Reset button -->
                <div class="input-group-addon btn btn-warning" ng-click="reset()" tooltip="Réinitialiser">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </form>
    </div>

    <!-- Include the comments template -->
    <div ng-include="'templates/trees/tree.comments.tpl.html'"></div>
</div>
