.masonry-brick {
    width: 100px;
    margin: 1em;
}
.bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;
}
ul[rn-carousel] {
    height: 300px;
    margin: 0 auto;
}
.bootstrap-filestyle {
    display: inline;
}
