<div class="modal-body" ng-include="'templates/carousel/carousel.tpl.html'"></div>
</div>
<div class="modal-footer">
    <a class="btn btn-warning clickable" ng-href="/contact?idPhoto={{getPictureId()}}&idArbre={{tree.id}}" ng-click="$close()" tooltip="Signaler">
        <i class="fa fa-exclamation-triangle"></i>
    </a>
    <button type="button" class="btn btn-default clickable" ng-click="$close()" tooltip="Fermer">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>
