<div class="row" ng-show="voter || error">
    <div class="alert alert-danger" role="alert" ng-show="error">Vote invalide</div>
    <div class="alert alert-success" role="alert" ng-show="voted">Votre vote a bien été pris en compte</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Informations</h3>
    </div>
    <div class="panel-body" ng-include="'templates/trees/tree.informations.tpl.html'">
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
    </div>
    <div class="panel-body" ng-include="'templates/trees/tree.description.tpl.html'"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Position</h3>
    </div>
    <div class="panel-body" ng-include="'templates/trees/tree.map.tpl.html'"></div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Galerie</h4>
    </div>
    <div class="panel-body" ng-include="'templates/trees/tree.gallery.tpl.html'">
    </div>
    <div class="panel-footer">
        <input type="file" nv-file-select uploader="uploader" class="filestyle" input="false" button-text=" Sélectionner une image" badge="false" icon-name="glyphicon glyphicon-upload" /> <i ng-class="{'fa fa-spinner fa-spin':uploadSpin}"></i>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Commentaires</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <alert ng-repeat="alert in commentAlerts" type="{{alert.type}}" close="closeCommentAlert($index)">{{alert.msg}}</alert>
            <form novalidate ng-submit="send(newComment)" name="commentForm" class="form-inline">
                <div class="form-group col-sm-3" ng-class="{'has-error':commentForm.pseudo.$invalid && commentForm.pseudo.$dirty,'has-success':commentForm.pseudo.$valid}">
                    <input type="text" ng-model="newComment.pseudo" class="form-control col-sm-12" id="pseudo" name="pseudo" placeholder="Pseudo" required>
                </div>
                <div class="form-group col-sm-8" ng-class="{'has-error':commentForm.message.$invalid && commentForm.message.$dirty,'has-success':commentForm.message.$valid}">
                    <textarea msd-elastic ng-model="newComment.message" class="form-control col-sm-12" rows="1" id="message" name="message" placeholder="Votre message" required>
                    </textarea>
                </div>
                <button type="submit" class="btn btn-default col-sm-1" ng-disabled="commentForm.$invalid" tooltip="Envoyer"><i ng-class="{'glyphicon glyphicon-comment':!sendSpin,'fa fa-spinner fa-spin':sendSpin}"></i>
                </button>
            </form>
        </div>
        <div class="row" ng-include="'templates/trees/tree.comments.tpl.html'">
        </div>
    </div>
</div>
