<div ng-controller="TreesCtrl">


    <div class="well-sm">
        <form ng-submit="search()" class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" id="query" name="query" placeholder="Rechercher" ng-model="query" />
                <div class="input-group-addon btn btn-success" ng-click="search()" tooltip="Rechercher">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <div class="input-group-addon btn btn-warning" ng-click="reset()" tooltip="Réinitialiser">
                    <span class="glyphicon glyphicon-remove"></span>
                </div>
            </div>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-2" ng-click="orderBy('centralized_id',!reverse)" ng-style="{'cursor':'pointer'}">
                    Id
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('centralized_id')}"></small>
                </th>
                <th class="col-md-4" ng-click="orderBy('name',!reverse)" ng-style="{'cursor':'pointer'}">
                    Nom
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('name')}"></small>
                </th>
                <th class="col-md-3" ng-click="orderBy('genre_id',!reverse)" ng-style="{'cursor':'pointer'}">
                    Genre
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('genre_id')}"></small>
                </th>
                <th class="col-md-2" ng-click="orderBy('trunk_diameter',!reverse)" ng-style="{'cursor':'pointer'}">
                    Diametre du tronc
                    <small ng-class="{'glyphicon glyphicon-sort': isOrderedBy('trunk_diameter')}"></small>
                </th>
                <th class="col-md-1">
                </th>

            </tr>
        </thead>
        <tbody ng-if="trees">
            <tr dir-paginate="tree in trees | orderBy:orderProp:reverse | itemsPerPage: pageSize" current-page="pagination.current">
                <td>{{tree.centralized_id}}</td>
                <td>{{tree.name}}</td>
                <td>{{tree.genre_name}}</td>
                <td>{{tree.trunk_diameter}} cm </td>
                <td class="text-right">
                    <a ng-href="/trees/{{ tree.id }}" class="btn btn-info" tooltip="Fiche détaillée">
                        <i class="fa fa-plus"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <dir-pagination-controls template-url="templates/pagination/pagination.tpl.html"></dir-pagination-controls>

</div>
