.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin: 20px 0;
}
body {
    padding-top: 70px;
}
.pointer {
    cursor: pointer;
}
.img-thumbnail {
    max-height: 200px;
    max-width: 200px;
    margin-top: 10px
}
div.row {
    padding-bottom: 10px;
}
.context {
    padding: 10px;
}
.panel {
    margin-top: 20px;
}
/* To add a button in a panel header */

.panel-heading-with-btn {
    overflow: hidden;
    padding-top: 20px;
}
.btn-panel-header {
    position: relative;
    top: -5px;
}
.panel-heading-with-btn .panel-title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}
/**/

a {
    outline: 0;
}
.clickable {
    cursor: pointer;
}
/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #eee;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}
/* Massonry */

.masonry-brick {
    width: 100px;
    margin: 1em;
}
/* Caroussel */

.bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;
}
ul[rn-carousel] {
    height: 300px;
    margin: 0 auto;
}
.form-inline .form-control {
    width: 100%;
}
.bootstrap-filestyle {
    display: inline;
}
/* Max height of picture in the gallery */

.modal-dialog, .modal-content {
    max-height: 620px;
}
.modal-body {
    max-height: 500px;
    overflow-y: scroll;
}
.carousel {
    max-height: 500px;
}
.carousel-inner {
    width: auto;
    max-height: 500px;
}
.carousel-inner > .item > img {
    width: auto;
    max-height: 500px;
}
body {
    padding-top: 70px;
}
