<div class="modal-body" ng-include="'templates/carousel/carousel.tpl.html'"></div>
</div>
<div class="modal-footer">
    <!-- Show button -->
    <button class="btn btn-warning" ng-click="showPicture()" ng-hide="pictureIsVisible()" tooltip="Rendre visible">
        <i ng-class="{'fa fa-square-o':!spinShowPicture,'fa fa-spinner fa-spin': spinShowPicture}"></i>
    </button>
    <!-- Hide button -->
    <button class="btn btn-success" ng-click="hidePicture()" ng-show="pictureIsVisible()" tooltip="Rendre non visible">
        <i ng-class="{'fa fa-check-square-o':!spinHidePicture,'fa fa-spinner fa-spin': spinHidePicture}"></i>
    </button>
    <button type="button" class="btn btn-danger" ng-click="removePicture()" tooltip="Supprimer">
        <i ng-class="{'glyphicon glyphicon-trash':!spinRemove,'fa fa-spinner fa-spin': spinRemove}"></i>
    </button>
    <button type="button" class="btn btn-default" ng-click="$close()" tooltip="Fermer">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>
