<div masonry preserve-order>
    <div class="masonry-brick" ng-class="{'masonry-brick-not-visible':brick.notVisible}" ng-repeat="brick in tree.galleries | filter:queryPicture">
        <img ng-src="{{ brick.picture }}" width="100%" ng-click="displayPicture(brick)" />
    </div>
</div>
