<table class="table table-hover table-condensed">
    <thead>
        <th class="col-sm-2">Date :</th>
        <th class="col-sm-2">Pseudo :</th>
        <th class="col-sm-6">Message :</th>
        <th class="col-sm-2"></th>
    </thead>
    <tbody>
        <tr tb-comment dir-paginate="comment in comments | orderBy:'date':true | itemsPerPage: pageSize" comment="comment" remove="removeComment" current-page="pagination.current" ng-class="{'success':comment.class}"></tr>
    </tbody>
</table>

<dir-pagination-controls template-url="templates/pagination/pagination.tpl.html" ng-show="comments"></dir-pagination-controls>
