<div class="col-md-2">
    <img class="img-thumbnail col-md-12" src="http://images.clipartpanda.com/clipart-tree-bare_dead_tree_clip_art_11614.jpg" ng-if="tree.galleries.length<=0"></img>
    <img class="img-thumbnail col-md-12" ng-src="{{tree.galleries[0].picture}}" ng-if="tree.galleries.length>0" ng-click="displayPicture(tree.galleries[0])">
</div>
<div class="col-md-5">
    <div>
        <label>Numéro d'étiquette: </label>
        <span> {{tree.centralized_id}} </span>
    </div>
    <div>
        <label>Diamètre du tronc: </label>
        <span> {{tree.trunk_diameter}} cm </span>
    </div>
    <div>
        <label>Hauteur: </label>
        <span> {{tree.height}} m</span>
    </div>
    <div>
        <label>Diamètre à la couronne: </label>
        <span> {{tree.crown_diameter | ucfirst}} m</span>
    </div>
    <div>
        <label>Voter :</label>
        <rating ng-model="rating" max="10" readonly="voted" ng-click="vote(rating)" on-hover="overStar = value" on-leave="overStar = null"></rating><span class="label label-default" ng-show="overStar">{{overStar}}/10</span>
    </div>
    <div>
        <label> Note: </label><span ng-show="!tree.detail.rating"> - </span> {{tree.detail.rating | number:2}}/ 10 </span>
        <span> - {{tree.detail.nb_rate}} votes </span>
    </div>
</div>
<div class="col-md-5">
    <div>
        <label>Espèce : </label>
        <span> {{tree.name | ucfirst}} </span>
    </div>
    <div>
        <label>Genre : </label>
        <span> {{tree.genre.name | ucfirst}} </span>
    </div>
    <div>
        <label>Nom scientifique: </label>
        <span> {{tree.genre.species | ucfirst}} </span>
    </div>
    <div>
        <label>Type: </label>
        <span> {{tree.genre.type | ucfirst}} </span>
    </div>
</div>
