<ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options" ng-if="map">
    <ui-gmap-marker idKey='tree' coords='{latitude: tree.latitude, longitude:  tree.longitude}'>
    </ui-gmap-marker>
</ui-gmap-google-map>
<p ng-hide="map">Position non disponible</p>
