<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TreeBook - Admin</a>
        </div>

        <div class="collapse navbar-collapse" collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
                <li data-match-route="/trees">
                    <a href="/trees" ng-click="navbarCollapsed = true"><i class="fa fa-tree fa-lg"></i> Trees</a>
                </li>
                <li data-match-route="/contacts">
                    <a href="/contacts" ng-click="navbarCollapsed = true"><i class="fa fa-envelope-o fa-lg"></i> Contacts <span ng-show="nb.unread">({{nb.unread}})</span></a>
                </li>
                <li data-match-route="/sync">
                    <a href="/sync" ng-click="navbarCollapsed = true"><i class="fa fa-refresh fa-lg"></i> Synchroniser</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
